.dispatch-container {
  display: flex;
  margin: 20px 0;

  .dispatch-logo {
    img {
      margin-right: 30px;
      width: 120px;

      @media only screen and (max-width: 800px) {
        margin-right: 10px;
        width: 80px;
      }
    }
  }
  .dispatch-info {
    display: flex;
    flex-direction: column;
    flex: 1;

    h2 {
      margin-top: 0;
      @media only screen and (max-width: 800px) {
        font-size: 16px;
      }
    }
    .tracking-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }

    .bills-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      //   @media only screen and (max-width: 800px) {
      //     flex-direction: column;
      //   }
    }
  }
}
